img{
    height: 90px;
    margin: 30px 10px 0 0;
}
body{
    margin-left: 50px;
    margin-right: 50px;
}
section{
    background-color: #CAE694;
    padding: 40px;
    color:black;
}
h1{
    background-color: #D193E6;
    padding: 15px;
    color: #CAE694; 
}

#letra{
    width:20px;
}
#resultado{
    width: 300px;
}
hr{
    margin-top: 30px;
    color: black;

}
footer p{
    padding-top: 20px;
    text-align: center;
}